<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
     <a mat-list-item >
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </a>

  <a mat-list-item routerLink="/admin/std" >
    <mat-icon >groups</mat-icon>
    Students
  </a>
       <a mat-list-item routerLink="/admin/complain">
    <mat-icon>report_problem</mat-icon>
    Complaints
  </a>
    <a mat-list-item >
    <mat-icon >campaign</mat-icon>
    Notices
  </a>
    <a mat-list-item>
    <mat-icon>badge</mat-icon>
    Staff
  </a>
  <a mat-list-item >
    <mat-icon>settings</mat-icon>
    Settings
  </a>


    </mat-nav-list>

  </mat-sidenav>
  <mat-toolbar color="dark">
     <button mat-icon-button (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>

          
        </button>

  </mat-toolbar>

   

  

    <!-- Tables -->
     <router-outlet></router-outlet>
    
   
</mat-sidenav-container>